<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature
        android:name="android.hardware.vulkan.version"
        android:required="false"
        android:version="0x400003" />

    <application
        android:allowBackup="false"
        android:hasCode="true"
        android:icon="@drawable/app_icon"
        android:label="EUI-NEO"
        android:roundIcon="@drawable/app_icon"
        android:theme="@style/EuiNeoTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
            android:exported="true"
            android:screenOrientation="fullUser">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
